@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* #E6750D */
:root {
  --site-navy: #111827;
  --site-black: #1e1e1e;
  --site-white: #eaeaea;
  --accent: #0891b2;
  --accent-hover: #8482dc;
  --dark-accent: #2d2727;
  --dark-hover-accent: #514747;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "OpenSansCondensed";
  src: url("../fonts/OpenSans/static/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  src: url("../fonts/OpenSans/static/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  src: url("../fonts/OpenSans/static/OpenSans_Condensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSansCondensed";
  src: url("../fonts/OpenSans/static/OpenSans_Condensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
label {
  display: block;
}

input,
textarea {
  color: black;
  display: block;
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
body {
  font-family: "OpenSans", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
}
.cke_notifications_area {
  display: none;
}
#cke_1_contents {
  height: 400px !important;
}
/* general */
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-inline: auto;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-inline: auto;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    margin-inline: auto;
  }
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
}
p {
  line-height: 20px;
}
.prose {
  max-width: 100%;
}

.nostyle-excerpt h1,
.nostyle-excerpt h2,
.nostyle-excerpt h3,
.nostyle-excerpt h4 {
  color: #6b7280;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 0.3rem;
}

/* general */

/* side-nav */
.side-nav-item {
  position: relative;
}
.side-nav-hover-item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  transition: all 300ms ease-out;
  transform: translateX(-15px);
}
.side-nav-item:hover .side-nav-hover-item {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
  transform: translateX(5px);
  z-index: 20;
  transition: all 300ms ease-out;
}
/* side-nav */

/* general-sidebar */
#general-sidebar-menu {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 200ms;
  /* pointer-events: none; */
}
#general-sidebar-menu.open {
  visibility: visible;
  opacity: 1;
  /* pointer-events: auto; */
}
#general-sidebar-nav {
  transform: translateX(550px);
  opacity: 0;
  visibility: hidden;
  transition-property: all;
  transition-duration: 200ms;
  /* pointer-events: none; */
}
#general-sidebar-nav.open {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  /* pointer-events: auto; */
}
/* general-sidebar */

/* landing page  */
.small-post h3 {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}
.small-post span.badge {
  font-size: 0.75rem;
  line-height: 1rem;
}
.small-post .content-part {
  padding: 1rem;
}
/* landing page  */
span[aria-disabled="true"] > span {
  display: none;
}
span[aria-current="page"] > span {
  background-color: var(--accent-hover);
  color: white;
}
