@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --site-navy: #111827;
  --site-black: #1e1e1e;
  --site-white: #eaeaea;
  --accent: #0891b2;
  --accent-hover: #8482dc;
  --dark-accent: #2d2727;
  --dark-hover-accent: #514747;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
label {
  display: block;
}

input,
textarea {
  color: black;
  display: block;
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
body {
  font-size: 16px;
  font-weight: 400;
}
.cke_notifications_area {
  display: none;
}
#cke_1_contents {
  height: 400px !important;
}
/* general */
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-inline: auto;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-inline: auto;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    margin-inline: auto;
  }
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
}
p {
  line-height: 20px;
}
.prose {
  max-width: 100%;
}

/* general */

/* side-nav */
.side-nav-item {
  position: relative;
}
.side-nav-hover-item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  transition: all 300ms ease-out;
  transform: translateX(-15px);
}
.side-nav-item:hover .side-nav-hover-item {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
  transform: translateX(5px);
  z-index: 20;
  transition: all 300ms ease-out;
}
/* side-nav */
